.login-app{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);


}

.loginContainer{
    width: 65%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 2%/3%;

}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forgot-remember{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.forgot{
    color: rgb(4, 49, 208);
    font-weight: bold;
    text-decoration: none;
}
