.login-app{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.container{
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 2%/3%;
    width: 65%;
    height: 80%;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);

}
.signin-container{
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    height: 100%;
    transition: all 0.6s ease-in-out;
    width: 50%;
    z-index: 2;
}
.signin-container.active{
    transform: translateX(100%);
    opacity: 0;
}


.signup-container{
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: all 0.6s ease-in-out;
    width: 50%;
}
.signup-container.active{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
.banner-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.banner-container.active{
    transform: translateX(-100%);
}
.banner{
    background: #800000;
    background: -webkit-linear-gradient(to right, #2b0707, #b00d2e);
    background: linear-gradient(to right, #510c17, #8a1022);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.banner.active{
    transform: translateX(50%);
}

.banners{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.left-banner{
    transform: translateX(-20%);
}
.left-banner.active{
    transform: translateX(0);
}
.right-banner{
    right: 0;
    transform: translateX(0);
}
.right-banner.active{
    transform: translateX(20%);
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10%;
    width: 100%;
    gap: 5px;
}
.forgot-remember{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.forgot{
    color: rgb(4, 49, 208);
    font-weight: bold;
    text-decoration: none;
}
.heading{
    font-weight: bold;
    margin-bottom: 5%;
}
.bt{
    margin-top: 5%;
}

